################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vspscc
*.user
*.vssscc
*.suo
/**/packages
/$tf
.vs

/**/bin/
/**/obj/
/**/Express/
/**/.localhistory/
/**/.history/
/**/.cache-loader/
*.dbmdl
*.map
/**/*.oob
classgenerator.vortex.xml

Release
Sources/.vs
Sources/packages
Sources/Opale.Spa/node_modules/
Sources/Opale.FrontEnd/app.js
Sources/Opale.FrontEnd/main.js.map
Sources/Opale.FrontEnd/bin
Sources/Opale.FrontEnd/obj
Sources/Opale.Model/bin
Sources/Opale.Model/obj
Sources/Opale.Model/Opale.Model.jfm
*.user

*.nupkg

**/webpack.pfx
*.ini
